<div>
  <app-navigation> </app-navigation>
  <div class="settingsNav">
    <h1>Prueba Sending Info</h1>
    <button class="btn btn-primary" (click)="startCapture()">
      Start Meeting
    </button>
    <button class="btn btn-primary" (click)="getInfo()">
      Get Charts Info
    </button>
  </div>

  <div
    id="carouselExampleInterval"
    class="carousel slide navContainer"
    data-bs-ride="carousel"
    #prueba
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="7000">
        <img
          src="../../assets/images/prueba1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img
          src="../../assets/images/prueba2.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img
          src="../../assets/images/prueba4.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
