<div class="aboutContainer">
  <app-navigation></app-navigation>
  <div class="container text-center">
    <h1 class="display-3">Equipo de investigadores</h1>
    <div class="row">
      <div class="col-md-4 d-flex flex-column align-items-center">
        <div class="circle">
          <img src="../../assets/images/Bryam.png" alt="Developer 1" />
        </div>
        <div class="name">Bryam Lopez</div>
        <a
          class="linkedin"
          target="_blank"
          href="https://www.linkedin.com/in/bryamslm/"
          >LinkedIn</a
        >
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center">
        <div class="circle">
          <img src="../../assets/images/Belen.png" alt="Developer 2" />
        </div>
        <div class="name">Belén Miranda</div>
        <a
          class="linkedin"
          target="_blank"
          href="https://www.linkedin.com/in/mar%C3%ADa-bel%C3%A9n-miranda-hern%C3%A1ndez-573598251/"
          >LinkedIn</a
        >
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center">
        <div class="circle">
          <img src="../../assets/images/Akion.png" alt="Developer 3" />
        </div>
        <div class="name">Akion Garro</div>
        <a
          class="linkedin"
          target="_blank"
          href="https://www.linkedin.com/in/akion-garro/"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</div>
